// Variables for the palette
$basicWhiteColor: #ffffff;
$basicBlackColor: #000000;

$secondaryBackgrounColor: #f5f4fa;
$footerBackgroundColor: #2f303a;

$primaryTitleColor: #212121;
$primaryTextColor: #757575;

$primaryIconsColor: #afb1b8;

// Variables for fonts

$logoFont: "Raleway", sans-serif;
$primaryFont: "Roboto", sans-serif;
